<div class="row h-100" ng-init="now_playing()">
    <div class="col-lg-4 text-center align-items-center" style="padding-left: 5%;padding-right: 0%;padding-top: 10px;">
        <div class="jumbotron jumbotron-fluid bg-transparent form-rounded  position-sticky default" style="top:100px;left:0;width: 100%;text-align: center; margin-bottom: 0px;">
          <div class="container-fluid">
          <div width="100%" height="100%">
              <table style="margin: 0 auto;">
                  <tr>
                  <td class="display-extra">Playing {{playersrc}}&nbsp;</td>
                  <td><iframe id="player" [src]="playersrc" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
              </table>
            </div>
        </div>
    </div>
</div>
